.container {
    width: 300px;
    margin: 0 auto;
}

.header-h1 {
    margin: 0;
    margin-bottom: 10px;
}

.form_block {
    border: 0px solid #000;
}

.cases_block {
    margin-top: 30px;
}

.cases_block_item {
    padding: 12px 14px;
    margin: 12px 0;
    border: 1px solid #000;
    border-radius: 6px;
}